body {background: linear-gradient(to right, #11998e, #38ef7d);}
.app-title {text-align: center}
.app-logo {left: 25%;position: absolute;margin: 0 auto;width: 50%;}
.footer-border {border-bottom: 3px solid #f2fcfe;}
